:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --font-size: 24px;
}

* {
    box-sizing: border-box;
}

body {
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Space Mono', monospace;
    background: var(--Light-grayish-cyan);
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
    body {
        font-size: 1rem;
    }
}

.main__card {
    background: var(--White);
    padding: 2.5rem;
    border-radius: 15px;
}

@media screen and (min-width:768px) {
    .container {
        margin: 0;
    }
}


/* Button */

.btn {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 9px;
    border: 0;
    outline: 0;
    line-height: 1.5;
    cursor: pointer;
}

.btn--primary {
    background: var(--Very-dark-cyan);
    color: var(--White);
    font-weight: 700;
}

.btn--secondary {
    background: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    font-weight: 700;
}

.btn--accent {
    background: var(--Very-light-grayish-cyan);
    color: var(--Grayish-cyan);
    font-weight: 700;
}


/* Input */

.input--group {
    display: flex;
    justify-content: space-between;
    background: var(--Very-light-grayish-cyan);
    padding: 0.5rem 2rem 0.5rem 2rem;
    width: 100%;
}

.input {
    outline: 0;
    border: 0;
    color: var(--Very-dark-cyan);
    flex-grow: 1;
    background: none;
    padding-left: 7rem;
    align-items: flex-end;
    width: 100%;
    text-align: right;
    font-weight: 700;
    line-height: 1.5;
}

.input__image {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: 10px;
}

.reset {
    border: 0;
    outline: 0;
    background: var(--Strong-cyan);
}

.reset--hover:hover {
    background: var(--White);
    border: 3px solid cyan;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}


/* Grid */

.grid {
    display: grid;
}


/* Card */

.card__heading {
    color: var(--White);
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
    margin: 0;
}

.card__text {
    color: var(--Strong-cyan);
}

.card__person {
    color: var(--White);
}

.container {
    background: var(--Very-dark-cyan);
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 0;
}

.grid-2x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* column-gap: 5rem; */
    row-gap: 5px;
}

.card__price {
    font-size: 2.7rem;
}

.card__label {
    justify-self: left;
    align-self: center;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.card__amount {
    color: var(--Strong-cyan);
    display: flex;
    justify-self: left;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.card__person {
    padding-top: 0;
    margin: 0;
    font-size: 1.2rem;
    text-align: left;
    color: var(--Dark-grayish-cyan);
}

.card__person::before {
    content: "/";
    padding-right: 1rem;
}

.card__dollar {
    font-size: 2rem;
}


/* Plan */

.plan__container {
    background: var(--White);
    max-width: 100%;
}

.grid-2x3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}


/* Bill */

.bill__block {
    margin-bottom: 3rem;
}

.bill {
    margin-bottom: .5rem;
    color: var(--Grayish-cyan);
    font-size: 1.5rem;
}

.bill__heading {
    font-size: 1.5rem;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select {
    margin-bottom: 1rem;
}

.logo {
    width: 5rem;
    margin-bottom: 0;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.grid-2x2 {
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width:768px) {
    .grid__article-2x2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 40px;
        justify-self: center;
        align-self: center;
        align-items: center;
    }
}

@media screen and (min-width:768px) {
    .container {
        padding: 2rem;
        padding-bottom: 0;
        font-size: 1rem;
    }
    .card__heading {
        font-size: 1.5rem;
    }
    .card__text {
        font-size: 1rem;
    }
    .card__price {
        font-size: 2rem;
    }
    .card__amount {
        color: var(--Strong-cyan);
        display: flex;
        justify-self: left;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .card__person::before {
        content: "/";
        padding-right: 1rem;
    }
    .card__dollar {
        font-size: 1.2rem;
    }
    .main__card {
        height
    }
}