<div class="container">
    <div class="grid grid-2x2">
        <div class="card__label">
            <h2 class="card__heading">Tip Amount</h2>
            <p class="card__person">person</p>
        </div>
        <div class="card__amount">
            <p class="card__dollar">$</p>
            <p class="card__price">4.27</p>
        </div>
        <div class="card__label">
            <h2 class="card__heading">Total</h2>
            <p class="card__person">person</p>
        </div>
        <div class="card__amount">
            <p class="card__dollar">$</p>
            <p class="card__price">32.79</p>
        </div>
    </div>
    <input class="btn btn--secondary" type="submit" value="RESET" />
</div>